<ul class="elsewhere">
    {% for profile in request.author.social_network_profiles.all %}
        <li>
            <a href="{{ profile.profile_url }}" rel="me">{{ profile.profile_name }}</a>
        </li>
    {% endfor %}
    {% for profile in request.author.instant_messenger_profiles.all %}
        <li>
            {{ profile.profile_name }}: <a href="{{ profile.messenger_url }}">{{ profile.username }}</a>
        </li>
    {% endfor %}
    {% for profile in request.author.website_profiles.all %}
        <li>
            <a href="{{ profile.url }}" rel="me">{{ profile.name }}</a>
        </li>
    {% endfor %}
</ul>