{% extends "base.html" %}
{% load i18n %}
{% load blog_utils %}

{% block extrahead %}
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://brosner.myopenid.com/" />
{% endblock %}

{% block feeds %}
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oebfare-latest-entries" title="oebfare: Latest Entries" />
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oebfare-latest-links" title="oebfare: Latest Links" />
{% endblock %}

{% block sl %}
<h1>{% trans "Latest Entries" %} <a href="http://feeds.feedburner.com/oebfare-latest-entries"><img src="{{ MEDIA_URL }}images/feed-icon-14x14.png" alt="oebfare: Latest entries" /></a></h1>
{% if posts %}
{% for post in posts %}
    {% show_post_brief post %}
{% endfor %}
{% else %}
<p>{% trans "No entries." %}</p>
{% endif %}
<a href="http://github.com/{{ request.author.get_profile.nickname }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
{% endblock %}