{% extends "base.html" %}
{% load blog_utils %}

{% block title %}Entries tagged with "{{ tag }}" | {{ block.super }}{% endblock %}

{% block feeds %}
{# TODO: looking into a custom tag for the feed url so reverse can be used. #}
<link rel="alternate" type="application/rss+xml" href="/blog/feeds/tags/{{ tag }}/" title="justinlilly: Entries tagged with '{{ tag }}'" />
{% endblock %}

{% block content %}
<h1>Entries tagged with "{{ tag }}"</h1>
{% if object_list %}
{% for post in object_list %}
{% ifchanged post.pub_date.month %}<h1>{{ post.pub_date|date:"F" }}</h1>{% endifchanged %}
    {% show_post_brief post %}
{% endfor %}
{% else %}
<p>No entries.</p>
{% endif %}
{% endblock %}

{% block sr %}
{% if related_tags %}
<h2>Related Tags</h2>
<div class="tags">
    <ul>
        {% for related_tag in related_tags %}
        <li><a href="{% url blog_tag_detail related_tag %}">{{ related_tag }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
