html {
    background-color: #374140;
}
body {
    background-color: #374140;
    color: #ebe0d1;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
    color: #CDE9E9;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: #a9a9a9 0 0 1px;
}
h1 {
    color: #8FACAB;
}
h2 {
    color: #CDE9E9;
}
#hd {
    border-bottom: 3px solid #637978;
    height: 70px;
}
#sl > div, #sm > div, #sr > div {
    padding: 0 10px;
}
#sr, #sm {
    background-color: #637978;
}
#ft {
    border-top: 3px solid #637978;
    padding: 5px 0;
}
.entry, .entry-brief {
    clear: both;
}
.entry-brief {
    border-bottom: 2px solid #637978;
}
.entry-last {
    border-bottom: none;
}
.entry-brief h2 {
}
.entry-brief div.published {
    position: relative;
    top: -11px;
}
.entry p, .entry-brief p {
}
.comment > div {
    padding: 0 10px;
}

.comment .even {
    background: #637978;
}
div.tags {
    clear: both;
}
div.tags ul {
    margin-left: 0;
    clear: left;
    height: 24px;
}
div.tags ul li {
    list-style-type: none;
    background-color: #8FACAB;
    float: left;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.entry div.tags ul li, .entry-brief div.tags ul li {
    background-color: #637978;
}
div.tags ul li.normal {
    background: none;
}
div.tags li a {
    display: block;
}
p, li, dt, dl, blockquote {
    line-height: 150%;
}
blockquote, pre {
    border-left: 5px solid #637978;
    padding-left: 15px;
}
pre, code {
    font-size: 93%;
    line-height: 130%;
}
.small {
    font-size: 93%;
}
div.form-line {
    margin-bottom: 10px;
}
div.error {
    border: 2px solid #8FACAB;
    background-color: #637978;
    padding: 5px;
}
ul.errorlist {
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0px;
}
ul.errorlist li {
    list-style-type: none;
}
textarea {
    width: 100%;
}
hr {
    background: #637978; 
    color: #637978;
    clear: both; 
    float: none; 
    width: 100%; 
    height: 3px;
    margin: 0 0 1.4em;
    border: none;
}
