/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (21.9.2007)
   * Website:   http://code.google.com/p/blueprintcss/
   See Readme file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';
@import 'lib/forms.css';

/* Plugins:
   Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Example:
   @import 'plugins/buttons/buttons.css'; */
   
/* See the grid:
   Uncomment the line below to see the grid and baseline.
   .container { background: url(lib/grid.png); } */

#header {
    background: #444;
    border-bottom: 4px solid #999;
    color: #fff;
    padding: 5px 0px;
    margin-bottom: 1.2em;
}

#header div#heading {
    font-family: monospace;
    font-size: 1.2em;
    padding: 0px 5px;
}
#header span#brosner, #header span#oebfare {
    font-size: 1.6em;
    font-weight: bold;
}
#header div#heading a {
    color: #fff;
    text-decoration: none;
}

#footer {
    border-top: 2px solid #999;
    padding-top: .5em;
}

hr.strong {
    height: .2em;
}

ul {
    list-style-type: disc;
    margin: 0 1.5em 1.5em 3em;
}

code {
    font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
}

pre {
    background-color: #444;
    border-left: 4px solid #999;
    color: #fff;
    padding: 5px 10px;
    font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif;
}

div.entry h1 {
}
div.entry h1, div.entry h2 {
    margin-bottom: .1em;
}
div.entry h2 a {
    color: #111;
    text-decoration: none;
}
div.entry .pub_date {
    font-size: .9em;
    margin-bottom: 1.2em;
}
div.entry .text {
    
}
