body
{
	margin:0;
	padding:0;
	background:#234F32;
	font-family:Arial, Helvetica, sans-serif;
}

a { color: #FFE761; }

a img { border:0; }

textarea
{
  border:1px solid #aaa;
}

#container
{
	width:92%;
	margin:0 auto;
	min-width:760px;
}

#content
{
	position:relative;
	margin:1em 0;
	width:75%;
	background:white;
	padding:25px;
	border:5px solid #092E20;
	border-width:0 4px 4px 0;
	float:left;
	min-width:450px;
	min-height:200px;

	border-left:1px solid #092E20;
	border-top:1px solid #092E20;
}

#content a:link, #content a:visited {
    color: #AB5603;
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}

#content form {margin-bottom:0;}

#content p.subtle { 
	margin:0 0 0.5em; 
	float:right;
	}
#content .subtle a
{
	color:#999;
	font-size:0.7em;
}

p.pages
{
	float:right;
	font-size:0.8em;
	margin-top:0.25em;
}

span.pipe
{
	color:#aaa;
	margin:0 0.25em;
}

#right
{
	margin-top:1em;
	float:left;
	width:15%;
	font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	margin-left:1.25em;
}

#right p
{
	font-size:0.8em;
	font-weight:bold;
}
#right p a.hidden { color:black; text-decoration:none; border-bottom:1px solid #999; }
#right p a.hidden:hover { color:blue; text-decoration:none; border-bottom:1px solid blue; }

#right p.help
{
	font-weight:normal;
	font-size:0.75em;
}



#footer
{
	margin:0 auto;
	margin-bottom:1em;
	font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	color:#487858;
	
	margin-left:3%;
	width:71%;
	min-width:560px;
	padding:0px 25px;
	margin-bottom:3.5em;
}

p.notice,
p.sections
{
	background:#fd9;
	padding:7px 15px;
	border:1px solid orange;
	margin-top:0;
	font-size:0.8em;
}

p.parseerror
{
	color:#c00;
	font-size:0.8em;
	margin:0em 0 2em;
}



p.sections a.action { color:#c00; }

h1,h2,h3,h4
{
font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;	
}

h1 {	
	font-size:1.3em; }

h1 span { font-size:0.7em; color:#999; font-weight:normal; }

h1 span a { color:#a86; text-decoration:none; }
h1 span a:hover { color:#a86; text-decoration:underline; }

h2 {
	font-size:1.0em; }

h2 span
{
	color:#999;
	font-size:0.75em;
	margin-left:1em;
}

h3 
{
	color:#282;
	font-size:0.8em;
	background:#e0e7e0;
	padding:3px 10px;
}

h4
{
  font-size:0.75em;
}

pre.explain
{
	background:#e7e7e7;
	padding:7px 15px;
	border:1px solid #ccc;
	margin:0 2em;
}

hr
{
	height:0;
	border:0;
	border-bottom:1px solid #ccc;
	margin:1em 0;
}

/* footer */

#footer p
{margin:0}
#footer p.credit
{
	float:right;
}
#footer p.legal
{
	float:left;
	margin-right:1.5em;
}

#footer p.disclaim
{
	float:left;
	color:brown;
}

ul.about
{
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:1.25em;
	margin-top:2em;
}
ul.about li p
{
	margin-top:0.5em;
	color:#666;
	font-size:0.9em;
}
ul.about li p strong { color:#c00; }

a.utility
{
	xfont-size:0.8em;
	text-decoration:none;
	font-weight:normal;
}
a.remove { color:#c00; }
a.utility:hover
{
	color:#c00;
	text-decoration:underline;
}

div.asset
{
	background:#e7e7e7;
	padding:7px 15px;
	border-bottom:1px solid #ccc;
	font-family:'Lucida Grande',Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	margin-bottom:1em;
	text-align:center;
}


#header
{
	background:#092E20;
	padding:5px 4% 10px;
	border-bottom:3px solid #999;
}

#header img
{
	vertical-align:bottom;
	margin-right:0.25em;
}

#header h1
{
	font-weight:normal;
	margin:0;
	color:#fc4;
}

#header h1 span.sub
{
	color:#CF6;
	font-size:0.6em;
	font-weight:normal;
	padding-left:1em;
}

#header ul#nav
{
	float:right;
	list-style-type:none;
	margin:0;
	margin-top:1em;
}

#header ul#nav li
{
	color:#FFE761;
	font-family:'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:0.7em;
	float:left;
	margin-left:2em;
}

#header ul#nav li a
{
	display:block;
	float:left;
	color:#a86;
	xpadding:3px 1em;
}

#header ul#nav li.active a
{
	font-weight:bold;
	xbackground:#222;
	color:#ca8;
}

#header ul#nav li.hot a
{
	color:orange;
}

label
{
	font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.8em;
	font-weight:normal;
}

