{% load tagging_tags %}
{% load blog_utils %}
{% load moderated_comments %}
<div id="entry_{{ post.pk }}" class="entry-brief{% if last %} entry-last{% endif %}">
    <h2>{{ post.title }}</h2>
    {% get_public_free_comment_count for blog.post post.pk as comment_count %}
    <div class="published small">Published {{ post.pub_date|date:"M j, Y" }} at {{ post.pub_date|time:"f A" }}. <a href="{{ post.get_absolute_url }}#c">{{ comment_count }} comment{{ comment_count|pluralize }}</a></div>
    <p>{% if can_edit %}<a href="/admin/blog/post/{{ post.pk }}/">Edit Post</a> | {% endif %}<a href="{{ post.get_absolute_url }}">Read Full Entry ...</a></p>
    {% tags_for_object post as tags %}
    {% if tags %}
    <div class="tags">
        <ul>
            <li class="normal">Tags:</li>
            {% for tag in tags %}
            <li><a href="{% url blog_tag_detail tag %}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>