{% extends "base_2col.html" %}
{% load tagging_tags %}

{% block title %}Not Found | {{ block.super }}{% endblock %}

{% block sl %}
    <h1>Not Found</h1>
    <p>Cannot find a page for {{ request_path }}.</p>
    <p>Perhaps you might be looking for something tagged below?</p>
    {% tag_cloud_for_model blog.Post as post_tags with steps=3 min_count=2 %}
    {% if post_tags %}
    <ul class="tag_cloud">
      {% for tag in post_tags %}
      <li><a href="{% url blog_tag_detail tag|urlencode %}" style="font-size: {{tag.font_size }}em">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block sr %}
{% endblock %}
