{% extends "base_2col.html" %}

{% block sl %}
<h1>About Me</h1>
<h2>General</h2>
<p>I suppose a bit is in order about me. I'm a 24 year old,
Brooklyn-based web developer who specializes in <a title="Django
Project" href="http://djangoproject.com">django</a>. I studied design
at the Art Institute, but only the the level that I don't look like a
complete ass when real designers are nearby. This blog's purpose is to
serve as a django-playground to test out random bits of technology.</p>

<h2>Work</h2>
<p>I currently work for <a title="HUGE LLC"
href="http://hugeinc.com/">HUGE</a> as a full-time Django developer.
My duties include development of projects both big and bigger. I'm not
currently interested in freelance work or being hired. My job freaking
rocks. Seriously.</p>

{% endblock %}

{% block sr %}
<h1>Meta</h1>
<h2>Contact</h2>
<ul id="contact_list">
{% for profile in blog.author.instant_messenger_profiles.all %}
    <li>
        {{ profile.name }}: <a href="{{ profile.url }}" rel="me">{{ profile.username }}</a>
    </li>
{% endfor %}
</ul>
<h2>Social Networks</h2>
<ul id="social_network_list">
{% for profile in blog.author.social_network_profiles.all %}
    <li>
        <a href="{{ profile.url }}" rel="me">{{ profile.name }}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
