{% extends "base_2col.html" %}

{% block sl %}
<h1>About Me</h1>
<p>
    My name is Brian Rosner. I am a 22-year old web developer. I am currently
    employed at <a href="http://www.churchpartner.com/">ChurchPartner</a>. I
    enjoy coding in <a href="http://python.org/">Python</a>, C, <a href="http://www.erlang.org/">Erlang</a>,
    HTML, CSS and Javascript.
</p>

<p>
    I am involved with the <a href="http://www.djangoproject.com/">Django</a>
    Python web framework. I originally got involved to solve problems at work,
    but now I am comitter maintaining the automatic admin interface (originally
    worked on the newforms-admin branch) and the modules that supplement it.
    I very much enjoy working on such a wonderful project.
</p>

<p>
    I am the co-host of <a href="http://thisweekindjango.com/">TWiD</a>. It is
    a lot of work, but I really enjoy putting out a show each week with
    <a href="http://blog.michaeltrier.com/">Michael Trier</a>.
</p>

<p>
    I am an Apple consumer. I love their products and use them everyday.
</p>
{% endblock %}

{% block sr %}
<h2>Computers</h2>
<ul>
    <li>15-inch Macbook Pro, 2.5 GHz, 4 GB RAM, 200 GB HD</li>
    <li>20-inch iMac</li>
</ul>

<h2>Car</h2>
<p>2000 Volkswagon Passat</p>
{% endblock %}