<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}oebfare.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <script type="text/javascript">
    /* <![CDATA[ */
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    /* ]]> */
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
        var pageTracker = _gat._getTracker("UA-145127-6");
        pageTracker._initData();
        pageTracker._trackPageview();
    /* ]]> */
    </script>
</head>

<body>
    
    <div class="container">
        {% block header %}
        <div id="header" class="column span-24 last">
            <div id="heading"><a href="{% url blog_index %}">
                <div>&gt;&gt;&gt; u"".join([chr(((ord(c) - 97) + 13) % 26 + 97) for c in u"<span id="brosner">oebfare</span>"])</div>
                <div>u'<span id="oebfare">brosner</span>'</div>
            </a></div>
        </div>
        {% endblock %}
        {% block content %}
        <div class="column span-15 append-1">
            {% block column_left %}{% endblock %}
        </div>
        <div class="column span-8 last">
            {% block column_right %}
            <h3>About Me</h3>
            <p>
                My name is Brian Rosner. I am a 21-year old web developer. I am
                currently employed at <a href="http://churchpartner.com">ChurchPartner</a>.
                In my spare time I work on <a href="http://bravolog.com">BravoLog</a>.
                I enjoy writing in Python, C, HTML, CSS and Javascript.
            </p>

            <hr />

            <h3>Open Source Projects</h3>
            <ul>
                <li><a href="http://www.djangoproject.com/">Django</a></li>
                <li><a href="http://www.cherokee-project.com/">Cherokee</a></li>
                <li><a href="http://dev.oebfare.com/projects/djog/">djog</a></li>
            </ul>

            <hr />

            <h3>RSS Feeds</h3>
            <ul>
                <li><a href="http://feeds.feedburner.com/oebfare-latest-entries">Latest Entries</a></li>
            </ul>
            
            <hr />
            
            <h3>Tags</h3>
            <ul>
            </ul>
            
            <hr />
            
            <h3>Archive</h3>
            <ul>
            </ul>
            {% endblock %}
        </div>
        {% endblock %}
        {% block footer %}
        <div id="footer" class="column span-24 last">
            <div class="column span-12">
                &copy; 2007 Brian Rosner
            </div>
            <div class="column span-12 last" style="text-align: right;">
                <a href="http://www.djangoproject.com/">
                    <img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" alt="A Django site." title="A Django site." />
                </a>
            </div>
        </div>
        {% endblock %}
    </div>
    
</body>

</html>