<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}oebfare{% endblock %}</title>
    <link href="{{ MEDIA_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oebfare-latest-entries" title="oebfare: Latest Entries" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oebfare-latest-links" title="oebfare: Latest Links" />
    <script type="text/javascript">
    /* <![CDATA[ */
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    /* ]]> */
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
        var pageTracker = _gat._getTracker("UA-145127-6");
        pageTracker._initData();
        pageTracker._trackPageview();
    /* ]]> */
    </script>
</head>
    
<body>
    <div id="{% block doc_id %}doc3{% endblock %}">
        <div id="hd">
            <a href="{% url oebfare_home %}"><img src="{{ MEDIA_URL }}images/oebfare.png" /></a>
        </div>
        
        <div id="bd">
            <div class="{% block grid_class %}yui-gb{% endblock %}">
                {% block content %}
                <div id="sl" class="yui-u first">
                    <div>
                        {% block sl %}{% endblock %}
                    </div>
                </div>
                
                <div id="sm" class="yui-u">
                    <div>
                        {% block sm %}
                        <h2>Hyperlinks <a href="http://feeds.feedburner.com/oebfare-latest-links"><img src="{{ MEDIA_URL }}images/feed-icon-14x14.png" /></a></h2>
                        {% load link_tags %}
                        {% get_links as links limit 5 %}
                        {% if links %}
                        {% for link in links %}
                        <p><a href="{{ link.url }}">{{ link.name }}</a> - {{ link.description }}</p>
                        {% endfor %}
                        {% else %}
                        <p>No links.</p>
                        {% endif %}
                        
                        <h2>Tags</h2>
                        {% load tagging_tags %}
                        {% tags_for_model blog.Post as post_tags %}
                        {% if post_tags %}
                        <div class="tags">
                            <ul>
                                {% for tag in post_tags %}
                                <li><a href="{% url blog_tag_detail tag %}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <p>No tags.</p>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
                
                <div id="sr" class="yui-u">
                    <div>
                        {% block sr %}
                        <h2>About Me</h2>
                        <p>
                            My name is Brian Rosner. I am a 21-year old web
                            developer. I am currently employed at <a href="http://www.churchpartner.com/">ChurchPartner</a>.
                            I enjoy writing in <a href="http://python.org/">Python</a>, C, HTML, CSS and Javascript.
                        </p>
                        
                        <h2>Elsewhere</h2>
                        <ul>
                            <li><a href="http://pownce.com/brosner/" rel="me">Pownce</a></li>
                            <li><a href="http://twitter.com/brosner" rel="me">Twitter</a></li>
                            <li><a href="http://digg.com/users/brosner" rel="me">Digg</a></li>
                            <li><a href="http://github.com/brosner" rel="me">GitHub</a></li>
                            <li><a href="http://wakoopa.com/brosner" rel="me">Wakoopa</a></li>
                            <li><a href="http://www.last.fm/user/brosner/" rel="me">Last.fm</a></li>
                            <li><a href="http://flickr.com/photos/brosner" rel="me">Flickr</a></li>
                            <li><a href="http://djangopeople.net/brosner/" rel="me">DjangoPeople</a></li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        
        <div id="ft">
            &copy; 2007 - 2008 Brian Rosner
        </div>
    </div>
</body>
</html>
