<html>
<head>
    <title>{% block title %}oebfare.com{% endblock %}</title>
    <link href="{{ MEDIA_URL }}css/screen.css" type="text/css" rel="stylesheet" />
</head>
    
<body>
    <div id="{% block doc_id %}doc3{% endblock %}">
        <div id="hd">
            <a href="{% url oebfare_home %}"><img src="{{ MEDIA_URL }}images/oebfare.png" /></a>
        </div>
        
        <div id="bd">
            <div class="{% block grid_class %}yui-gb{% endblock %}">
                {% block content %}
                <div id="sl" class="yui-u first">
                    <div>
                        {% block sl %}{% endblock %}
                    </div>
                </div>
                
                <div id="sm" class="yui-u">
                    <div>
                        {% block sm %}
                        <h2>Links</h2>
                        {% load link_tags %}
                        {% get_links as links limit 5 %}
                        {% if links %}
                        {% for link in links %}
                        <p><a href="{{ link.url }}">{{ link.name }}</a> - {{ link.description }}</p>
                        {% endfor %}
                        {% else %}
                        <p>No links.</p>
                        {% endif %}
                        
                        <h2>Tags</h2>
                        {% load tagging_tags %}
                        {% tags_for_model blog.Post as post_tags %}
                        {% if post_tags %}
                        <div class="tags">
                            <ul>
                                {% for tag in post_tags %}
                                <li><a href="{% url blog_tag_detail tag %}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <p>No tags.</p>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
                
                <div id="sr" class="yui-u">
                    <div>
                        {% block sr %}
                        <h2>About Me</h2>
                        <p>
                            My name is Brian Rosner. I am a 21-year old web
                            developer. I am currently employed at <a href="#">ChurchPartner</a>.
                            In my spare time I work on <a href="#">BravoLog</a>. I enjoy writing
                            in Python, C, HTML, CSS and Javascript.
                        </p>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        
        <div id="ft">
            &copy; 2007 - 2008 Brian Rosner
        </div>
    </div>
</body>
</html>