<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head">
    <title>{% block title %}DjangoBot Logger{% endblock %}</title>
    <link href="{{ MEDIA_URL }}css/screen_irc.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.3.pack.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#search-link").click(function() {
            $("#search").toggle("slow");
            $("#search_box").focus();
            return false;
        });
    });
    </script>
</head>

<body>

<div id="header">
	<ul id="nav">
		<li><a href="#" id="search-link">Search</a>
			</li>
		<li id="search" style="display: none;">
			<form action="" onsubmit="alert('did you think this would work? try again later.'); return false;">
				<input type="text" style="font-size: 0.85em;" size="15" id="search_box" name="q" value="" />
			</form>
		</li>
		<li ><a href="{% url channel_list %}">Channels</a></li>
		<li ><a href="#">About</a></li>
		<li ><a href="#">Help</a></li>
	</ul>
	<h1>{% block heading %}DjangoBot Log{% endblock %}</h1>
</div>

<div id="container">
	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<div id="right">
	    <div style="text-align: center;">
	    </div>
	</div>
	<br style="clear: both;" />
</div>

<div id="footer">
    <p class="credit">
	    Created by <a href="http://oebfare.com/">Brian Rosner</a>
	</p>
	<br style="clear: both;" />
</div>

</body>
</html>