<div class="entry">
    <h2><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></h2>
    <div class="pub_date">
        Posted <strong>{{ entry.pub_date|date:"m/d/Y" }}</strong> at <strong>{{ entry.pub_date|date:"h:i:s A T" }}</strong>
    </div>
    <div class="text">
        {{ entry.text|truncatewords_html:"30"|safe }}
        <p><a href="{{ entry.get_absolute_url }}">Read the full entry</a></p>
    </div>
    <div>
        Tagged:
        {% for tag in entry.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>