{% extends "base_2col.html" %}

{% block sl %}
<h1>Hire Me</h1>
<h2>Why do you want me?</h2>

<p>There are a few reasons why I would make a fantastic addition to your team. I feel the quest for knowledge should be motivated by a desire to improve one’s self, not one’s bank account. To that effect, I’m currently taking online classes on design at the Art Institute and I code in my free time in order to learn more about the bits and pieces that make a website tick. I’m also very good at bridging gaps between two ideas to increase someone’s understanding. Most importantly, I’m a nice person.</p>
<h2>My Ideal Job</h2>
<h3>Company</h3>

<p>My ideal employer is a company with a sense of urgency. They understand that the web is constantly changing and if you aren’t working to innovate, you’re falling behind. They pick a metric and attack it with ferocity. They understand taking calculated risk to achieve large gains. They aren’t necessarily a startup, but have that mentality. They would likely be located in a metropolitan area such as DC, Chicago, SFO or Seattle (I’m willing to move). They understand their employees are likely experts in their field and respect their opinions as such.</p>
<h3>Environment</h3>

<p>The office space which I would work would be open to facilitate communication between team members. It isn’t filled with Aeron chairs, but is aesthetically pleasing. Employees have a reasonable amount of flexibility in terms of their desk area. This includes, but isn’t limited to, extra lighting, desk toys and book shelves. The building would also be within reasonable distance to dining.</p>
<h3>Technology</h3>

<p>Employees of the company would likely have Apple computers (or at least provide that as an option). They would be outfitted with maximum allotments of ram and, in the case of desktops, multiple monitors. The servers the company works would be debian-based linux servers whose admin understood the difference between shopt and sed. My ideal company would realize that technology is a means to increase communication between team members and wouldn’t place arbitrary limitations on it. The team would understand the value of version control and good tools. The company would ideally use Django.</p>
<h3>Team</h3>

<p>The team would contain several people of every discipline. There would be no “one man army” for design or programming. To restate that: There would be more than one programmer and more than one designer. The team would get along at work and would likely do some sort of bonding event in the after hours, such as grabbing drinks or going to dinner. The team would be loyal to the company, because the company treats them well.</p>
<h3>Miscellaneous</h3>

<p>I don’t expect my employer to provide me with food and drink during office hours. I do, however, expect that there would be a budget allotment for continued training and a few relevant conferences a year for employees. I also expect the employer would provide compensation at least equal to the industry average for that area.</p>

<p>I don’t expect any company to fit all of this. That being said, I don’t feel that any of these requests are outlandish. Does your company fit this description? Are you looking for a Developer/Designer? Please contact me at JustinLilly@gmail.com</p>
{% endblock %}
{% block sr %}
<h1>Meta</h1>
<dl>
  <dt>Resume</dt>
  <dd>Coming Soon</dd>
  
  <dt>Portfolio</dt>
  <dd>A work in progress</dd>
</dl>
{% endblock %}
