{% extends "base_2col.html" %}

{% block title %}Preview Your Comment | {{ block.super }}{% endblock %}

{% block sl %}
<h1>Preview Your Comment</h1>
<form action="/comments/postfree/" method="post">
	{% if comment_form.has_errors %}
	<p><strong style="color: red;">Please correct the following errors.</strong></p>
	{% else %}
	<div class="comment">
	    <div class="even">
	        {{ comment.comment|urlizetrunc:"40"|linebreaks }}
	        <p class="small">Posted by <strong>{{ comment.person_name }}</strong> on <strong>{{ comment.submit_date|date:"M j, Y" }}</strong> at <strong>{{ comment.submit_date|time:"f A" }}</strong></p>
	    </div>
	</div>

	<p><input type="submit" name="post" value="Post public comment" /></p>

	<h2>Or edit it again</h2>
	{% endif %}

	{% if comment_form.person_name.errors %}
	{{ comment_form.person_name.html_error_list }}
	{% endif %}

	<p><label for="id_person_name">Your name:</label> {{ comment_form.person_name }}</p>

	{% if comment_form.comment.errors %}
	{{ comment_form.comment.html_error_list }}
	{% endif %}

	<p>
		<label for="id_comment">Comment:</label>
		<br />
		{{ comment_form.comment }}
	</p>
	
	<input type="hidden" name="options" value="{{ options }}" />
	<input type="hidden" name="target" value="{{ target }}" />
	<input type="hidden" name="gonzo" value="{{ hash }}" />

	<p><input type="submit" name="preview" value="Preview revised comment" /></p>
</form>
{% endblock %}

{% block sr %}
{% endblock %}