{% extends "base.html" %}

{% block title %}{{ object }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="entry">
    <h1>{{ object }}</h1>
    <div class="pub_date">
        Posted <strong>{{ object.pub_date|date:"m/d/Y" }}</strong> at <strong>{{ object.pub_date|date:"h:i:s" }}</strong>
    </div>
    <div class="text">
        {{ object.text|safe }}
    </div>
</div>
<hr class="strong" />
{% load comments %}
{% get_free_comment_count for djog.entry object.pk as comment_count %}
{% get_free_comment_list for djog.entry object.pk as comment_list %}
{% if comment_count %}
<h3>{{ comment_count }} Comment{{ comment_count|pluralize }}</h3>
{% for comment in comment_list %}
<h6 id="c{{ comment.pk }}">{{ comment.person_name }}</h6>
<div class="small">Posted <strong>{{ comment.submit_date|date:"m/d/Y" }}</strong></div>
<p>{{ comment.comment }}</p>
{% if not forloop.last %}<hr />{% endif %}
{% endfor %}
<hr class="strong" />
{% endif %}
<h3>Add Your Comment</h3>
{% free_comment_form for djog.entry object.pk %}
{% endblock %}